*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: url("pics.png");
    background-repeat: no-repeat;
    /* max-width: 500px; */
    height: auto;
    padding-bottom: 150px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

ul{
    display: flex;
    gap: 40px;

    
}
li{
    list-style: none;
    cursor: pointer;
}
.logo-para{
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    font-weight: 700;
}
.nav-a{
    text-decoration: none;
    color: black;
}
span{
    color: #b49c73;
    ;
}
.hero{
    display: flex;
    margin: 100px 150px;
    justify-content: space-between;
}
.hero-head{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: -webkit-xxx-large;
    margin-bottom: 20px;
}
.hero-flex{
    width: 450px;
}
.span-2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: -webkit-xxx-large;
}
.hero-para{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-left: 20px;
}
.hero_a{
    color: #b49c73;
    font-size: 20px;
}
.hero-btn{
    margin-left: 20px;
    padding: 15px 25px;
    border: none;
    background-color: #b49c73;
    color: white;
    font-weight: 700;
    border-radius: 25px;
}
.hero-section{
    background-color: #37373f;
    padding: 70px;

}
.section-container{
    display: flex;
    color: white;
    justify-content: space-between;

}
.section-para{
    margin-left: 50px;
    width: 400px;
    font-family: "Rubik", sans-serif;
    line-height: 1.6;
    background: #37373f;
    overflow-x: hidden;
    font-size: 16px;
    color: #b2b2b8;
    margin-bottom: 20px;
}
.section-btn{
    margin-left: 50px;
    padding: 15px 25px;
    border: none;
    background-color: #b49c73;
    color: white;
    font-weight: 700;
    border-radius: 25px;
}
.section-logo-flex{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.flex-logo{
    display: flex;
    gap: 10px;
}
h5{
    color: #b49c73;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
}
.logo-bg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}
.logo-img{
    padding: 18px;
}
.flex-para{
    margin-top: 9px;
}
.flex-para p{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 200;
    width: 400px;
    color: gray;
}
.color{
    color: #b49c73;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 200;
}
.color span{
    margin-left: 10px;
}
.main{
    padding-top: 150px;
}
.experience{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.wins{
    display: flex;
    padding-right:100px ;
    gap: 150px;
}
.experience-para{
    padding-top: 30px;
    margin-top: 10px;
    width: 400px;
    font-family:"Rubik", sans-serif ;
    font-size: 50px;
    color: white;
}
.wins-para{
    color: #b49c73;
    font-family: "Rubik", sans-serif;
    font-size: 80px;
    font-weight: 300;
}
.wins-para2{
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    color: white;
    margin-left: 5px;
    font-weight: 750;    
}
.wins-para3{
    margin-top: 10px;
    color: #b2b2b8;
    width: 200px;
    font-size: 20px;
    font-weight: 200;
    font-family: "Rubik", sans-serif;
}
.wins-para span{
    color: white;
}
.client{
    padding:120px 80px 100px  80px;
    background-color: #212529;
}
.div-client{
    display: flex;
    justify-content: space-between;
}

.client-flex{
    display: flex;
    background-color: #212529;
    margin: 20px 0px 0px 20px;
    align-items: center;
    border-radius: 40px 0 0 0;
    padding: 10px;
    position: relative;
    bottom: 80px;


}

.client-flex img{
    margin-right: 10px;
    width: 50px;
    border-radius: 50%;
}
.client-flex div{
    color: white;
}

.client h2{
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: white;
    margin-bottom: 50px;
}
.client h2 span{
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.box-para{
    font-family: "Rubik", sans-serif;
    line-height: 24px;
    padding: 30px;
    width: 250px;
}
.box-bg{
    background-color: white;
    height: 300px;
}
.p1{
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.p2{
    font-family: "Rubik", sans-serif;
    font-size: 11px;
    font-weight: 400;
    padding-top: 3px;
    color: rgba(255, 255, 255, 0.4);
}

.owldots{
    position: absolute;
    left: 50%;

}
.owldot-active{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #b49c73;
    border-radius: 50%;
    margin-right: 3px;
}

.owldot{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}




.Experties{
    padding-top: 50px;
    background-color:#37373f;
}
.Experties h2{
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: white;
    padding: 50px;
}
.Experties span{
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    font-weight: 700;
}
.Experties-flex{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.logo-bg1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#b49c73;
}
.logo-bg1 img{
    padding-left: 12px;
    padding-top: 12px;
}
.Experties-div{
    background-color: white;
    padding: 25px;
    margin: 50px;
    margin-right: 0;
    border-radius: 10px;
}
.Experties-div h6{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #b49c73;
    width: 150px;
    margin: 10px 0px;
}
.Experties-div p{
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 190px;
}
.Experties-p p{
    padding-top: 20px;
}
.Experties-p p i{
    padding-left: 10px;
}
.picture{
    border-radius: 7px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 100px;
    margin-bottom: 0;
    background-image: url("pics.png");
    min-height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 230px;
    padding-top: 40px;
    color: black;

}
.picture{
    border-radius: 7px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0px;
    margin-bottom: 0;
    background-image: url("pics.png");
    min-height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    padding-top: 0px;
    color: black;

}
.picture p {
    font-family:"Rubik", sans-serif;
    font-size: 32px;
    font-weight: 400;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;

}
.footer-div{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 100px;
}
.footer-flex{
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.footer-flex a{
    color: #b49c73;
    /* text-decoration:#b49c73 ; */
}
.icon-div{
    margin-top: 10px;
    display: flex;
    gap: 4px;
}

.icon-div a{
    background-color: #b49c73;
    padding:5px 7px;
    border-radius: 3px;
}

@media only screen and (max-width: 600px) {
    .hero{
        display: block;
        margin: 0px;
        align-items: center;

    }
    .navbar{
        display: block;
        padding: 20px;
    }
    .logo-para{
        font-family: "Roboto Slab", serif;
        font-size: 20px;
        font-weight: 500;
        padding-right: 15px;
    }
    .span-2{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 1000;
        font-size: \40px;
    }
    .hero-btn{
        margin-top: 20px;
        margin-left: 10px;
        padding: 15px 25px;
        border: none;
        background-color: #b49c73;
        color: white;
        font-weight: 700;
        border-radius: 25px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 400px;
    }
    .container{
        width: 100%;
        height: auto;
    
    }
    .wins-para3{
        width: 300px;
    }
    .hero-flex{
        width: 100%;
        margin: 90px 0px;
        padding: 0px;
    }
    .hero-head{
        padding-left: 10px;
        width: 300px;
        font-weight: 700;
        display: inline-block;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .hero-para{
        padding-left: 10px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 500;
        color: black;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    /* .heros{
        
    } */
    .heros h1{
        font-size: 25px;
        padding: 20px;
        margin: 0px;
    }
    .heros span{
        font-size: 25px;
    }
    .hero-section{
        padding: 0px;
    
    }
    .wins-para{
        margin-top: 20px;
        color: #b49c73;
        font-family: "Rubik", sans-serif;
        font-size: 80px;
        font-weight: 300;
    }
    .experience-para{
        padding-top: 20px;
        margin-left: 10px;
        width: 200px;
        margin-top: 0px;
        font-size: 20px;


    }

    .section-btn{
        margin-left: 10px;
    }
    .section-container{
        display: block;
        max-width: 1000px;
    }
    .section-para{
        width: 300px;
        font-family: "Rubik", sans-serif;
        line-height: 1.6;
        background: #37373f;
        overflow-x: hidden;
        font-size: 16px;
        color: #b2b2b8;
        margin-left: 20px;
    }
    .section-logo-flex{
        display: block;
    }
    .flex-logo{
        display: flex;
        gap: 10px;
        margin: 30px 0px 15px 15px;
    }
    .flex-logo p{
        width: 250px;
    }
    .color{
        margin: 40px 10px;
    }
    .client h2 span{
        font-size: 30px;
    }
    .client h2 {
        font-size: 30px;
    }
    .box-para{
        font-family: "Rubik", sans-serif;
        line-height: 24px;
        padding: 20px;
        width: 230px;
    }
    .Experties h2{
        font-size: 30px;
    }
    .Experties span{
        font-size: 30px;
    }

    .experience{
        display: block;
    }
    .wins{
        display: block;
        margin: 0px 20px;
    }
    .div-client{
        display: block;
        /* justify-content: space-between; */
    }
    .Experties-div p{
        font-family: "Rubik", sans-serif;
        font-size: 14px;
        font-weight: 300;
        width: 300px;
    }
    
    .client-flex{
        display: flex;
        /* background-color: #212529;
        margin: 20px 0px 0px 20px;
        align-items: center;
        border-radius: 40px 0 0 0;
        padding: 10px;
        position: relative;
        bottom: 80px; */
    
    
    }
    .Experties-flex{
        display: block;
        /* justify-content: space-between;
        margin-right: 50px; */
    }
    .footer-div{
        display: flex;
        /* justify-content: space-between;
        color: white;
        padding: 100px; */
    }
    .footer-flex{
        display: flex;
        /* gap: 15px;
        flex-direction: column; */
    }
    .picture p {
        font-family:"Rubik", sans-serif;
        font-size: 15px;
        font-weight: 400;
        width: 300px;
        margin: 0 auto;
        padding: 60px 0px 0px;
    
    }
    .picture{
        background-size:contain;
        display: block;
        min-height: 300px;
    }
    .footer-div{
        display: block;
        color: white;
        padding: 15px;
    }
    .footer-flex{
        margin-top: 15px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    
    ul{
        font-size: 13px;
        display: flex;
        gap: 10px;
    
        
    }
    li{
        list-style: none;
        cursor: pointer;
    }
  }